* { box-sizing: border-box }

/*  #region Universal */
body {
  font-family: "Proxima Nova", "Segoe UI", Myriad, Verdana, sans-serif;
  background: black;
  color: white;
  max-width: 36em;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid red;
}

/* #endregion */

/* #region Index */
.index {
  border: 1px solid green;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indexLogo {
  max-width: 80%;
  max-height: auto;
}

.signInUpButtons a  {
  display: flex;
  justify-content: center;

  color: #ffffff;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid #ffffff;
  padding: 0.8em 5em;
  border-radius: 10em;

  margin-top: 1em;
}
/* #endregion */ 

/* #region Register */

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register form {
  display: flex;
  flex-direction: column;
}

label, input, textarea, button { margin: 1em 0 }

button {
  font-size: 1em;
  padding: 0.5em;
  border-width: 0;
  border-radius: 0.25em
}

input, textarea {
  display: flex;
  justify-content: center;
  width: 100% ;

  border-radius: 10em;
}

textarea {
  border-radius: 10em;
}
/* #endregion */

/* #region Detail*/
.delete {
background: red;
  color: #ffffff
}
/* #endregion */