* {
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}

/*  #region Universal */
body {
  font-family: 'Proxima Nova', 'Segoe UI', Myriad, Verdana, sans-serif;
  background: black;
  color: white;
  max-width: 36em;
  height: 100vh;
  margin: 0 auto;
}

/* Nav */
.navBar {
  height: auto;
}

.navBar ul {
  width: 100%;
  background: #374048;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

.navBar ul li {
  width: 50%;
  text-align: center;
  padding: 0.938em;
}

.navBar li a {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2.5em;
  display: block;
  height: 100%;
  padding: 15px;
  opacity: .6;
}

.navBar li a:hover,
.navBar li a:focus {
  opacity: 1;
  outline: none;
}

.navBar li:nth-of-type(1) a {
  background-image: url(/static/images/icons/account1.png);
}

.navBar li:nth-of-type(2) a {
  background-image: url(/static/images/icons/search1.png);
}

.navBar li:nth-of-type(3) a {
  background-image: url(/static/images/icons/tag1.png);
}

.navBar li.active {
  border-bottom: 0.188em solid #0EBEDD;
}

.navBar li.active:nth-of-type(1) a {
  background-image: url(/static/images/icons/account2.png);
  opacity: 1;
}

.navBar li.active:nth-of-type(2) a {
  background-image: url(/static/images/icons/search2.png);
  opacity: 1;
}

.navBar li.active:nth-of-type(3) a {
  background-image: url(/static/images/icons/tag2.png);
  opacity: 1;
}

/* labels/buttons */
label,
input,
textarea,
button {
  margin: 1em 0
}

button {
  font-size: 1em;
  padding: 0.5em;
  border-width: 0;
  border-radius: 0.25em
}

input,
textarea {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 10px;
  border-radius: 10em;
}

textarea {
  height: 3.5em;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, .6);
  color: #ffffff;
  border-radius: 50px;
  padding-top: 10px;
}

/* #endregion */

/* #region states */
/* ------- Index ------- */
.index a:not(:last-child):hover,
.index a:not(:last-child):focus {
  background-color: rgba(255, 255, 255, .4);
  transition: 0.3s;
  outline: none;
}

.index a:first-of-type:hover,
.index a:first-of-type:focus {
  opacity: 0.6;
}

.index a:last-child:hover,
.index a:last-child:focus {
  text-decoration: underline;
  outline: none;
}


/* ------- logIn ------- */

.index form label input:hover,
.index form label input:focus {
  border: 1px solid rgba(255, 255, 255, 1);
  transition: 0.3s;
  outline: none;
  cursor: pointer;
}

.index form input[type='submit']:hover,
.index form input[type='submit']:focus {
  opacity: 0.6;
  outline: none;
  cursor: pointer;
}

.login a:hover,
.login a:focus {
  background-color: rgba(255, 255, 255, .4);
  transition: 0.3s;
  outline: none;
}

/* ------- Register ------- */
.register input[type='file']:focus {
  outline: none;
}

.register label:not(:first-child) input:hover,
.register label:not(:first-child) input:focus,
textarea:hover,
textarea:focus {
  border: 1px solid rgba(255, 255, 255, 1);
  transition: 0.3s;
  outline: none;
}

.bottomBtns a:hover,
.bottomBtns a:focus,
.bottomBtns button:hover,
.bottomBtns button:focus {
  background-color: rgba(255, 255, 255, .4);
  transition: 0.3s;
  outline: none;
}

/* ------- searchLocation ------- */
.searchLocation input[type=text]:focus {
  outline: none;
}

.dropTagBtn:hover,
.dropTagBtn:focus {
  background: rgba(255, 255, 255, .4);
  transition: 0.3s;
  outline: none;
}

.dropTagBtn:focus {
  outline: none;
}

/* ------- droppedTags ------- */
.droppedTagList ul li:hover,
.droppedTagList ul li:focus,
.droppedList ul li:hover,
.droppedList ul li:focus,
.gameList ul li:hover,
.gameList ul li:focus {
  background: #4F5964;
  transition: 0.3s;
  outline: none;
}

.droppedTagList ul li a:focus,
.gameList ul li a:focus {
  outline: none;
}


/* ------- Detail ------- */
.backBtn:hover,
.backBtn:focus,
.delete:hover,
.delete:focus {
  background: rgba(255, 255, 255, .4);
  transition: 0.3s;
  outline: none;
}

/* ------- Add ------- */
.add label:not(:first-child) input:hover,
.add label:not(:first-child) input:focus {
  border: 1px solid rgba(255, 255, 255, 1);
  transition: 0.3s;
  outline: none;
}

.add input[type='file']:focus {
  outline: none;
}

.like:hover,
.like:focus,
.liked:hover,
.liked:focus {
  opacity: 0.6;
  cursor: pointer;
  outline: none;
}

/* ------- personalTag ------- */
.droppedList ul li a img:hover,
.droppedList ul li a img:focus {
  opacity: 0.6;
  cursor: pointer;
  outline: none;
}

/* #endregion */

/* #region Index */
.index {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./images/backgrounds/couple1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.indexLogo {
  max-width: 80%;
  max-height: auto;
}

.index .btn.btn--primary {
  background-image: linear-gradient(134deg, #0C8FA6 0%, #5FDFF6 61%, #68E8FF 100%);
  font-size: 1em;
  color: #FFFFFF;
}

.index .btn.btn--secundair {
  font-size: .9em;
  border: 1px solid #ffffff;
}

.index .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 100;
  text-decoration: none;

  border-radius: 10em;
  margin-top: 1em;
  width: 80%;
  height: 2.5em;
}

.index a:last-child {
  margin-top: 1em;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.8em;
}

/* #endregion */

/* #region login */
/* User not logged in */
form {
  width: 80%;
  height: auto;
}

.index form input {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, .6);
  color: #ffffff;
  font-size: 1em;
  padding: 0.625em;
  text-align: center;
}

form input[type=submit] {
  border: none;
  background-image: linear-gradient(134deg, #0C8FA6 0%, #5FDFF6 61%, #68E8FF 100%);
  font-size: 1em;
}

form a:last-child {
  display: flex;
  justify-content: center;
  font-size: 12px;
  text-decoration: underline;
  color: #ffffff;
}

/* user logged in */
.login {
  height: calc(100vh - 3.5em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #21262C;
}

.login a {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;

  border: 1px solid #ffffff;
  border-radius: 10em;
  margin-top: 8em;
  width: 80%;
  height: 2.5em;
}

/* #endregion */

/* #region searchLocation */
.searchLocation {
  height: calc(100vh - 3.5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #21262C;
}

.searchLocation form:first-child {
  width: 90%;
}

.searchLocation input[type=text] {
  font-family: 'Proxima Nova', FontAwesome, sans-serif;
  font-size: 1em;
  text-align: left;
  margin-bottom: 0;
  padding: 0.938em;
  background: #ffffff;
  border: 1px solid #ffffff;
}

.gameList {
  width: 100%;
  height: 90%;
  overflow: auto;
}

.gameList img {
  border-radius: 0.188em;
  width: 20%;
}

.gameList h2 {
  margin: 0;
  font-size: 1em;
}

.gameList ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameList ul li:first-of-type {
  margin-top: 0;
}

.gameList ul li {
  display: flex;
  width: 100%;
  padding: 0.938em;
  border-bottom: 2px solid #21262C;
}

.gameList ul li a {
  color: #D2D9E0;
  text-decoration: none;
  padding: 0.938em;
  font-weight: bold;
  font-size: 1em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.gameList ul li a img {
  align-self: flex-start;
}

.gameList ul li a p {
  align-self: center;
  margin-left: 10%;
}

/* #endregion */

/* #region droppedTags */
.droppedTags {
  height: calc(100vh - 3.5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #21262C;
}

.droppedTagList {
  width: 90%;
  height: 60%;
  overflow: auto;
}

.droppedTagList h2 {
  margin: 0;
  font-size: 1em;
}

.droppedTagList ul {
  padding-left: 0;
}

.droppedTagList ul li {
  border: 1px solid #ffffff;
  border-radius: 50px;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.droppedTagList ul li a {
  color: #ffffff;
  text-decoration: none;
}

.dropTagBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  font-weight: 100;
  text-decoration: none;

  background-image: linear-gradient(134deg, #0C8FA6 0%, #5FDFF6 61%, #68E8FF 100%);
  border-radius: 10em;
  margin-bottom: 1em;
  width: 80%;
  height: 2.5em;
}

/* #endregion */

/* #region Register */
.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #21262C;
}

.register label {
  margin-top: 0;
}

.register label:not(:first-child) input {
  height: 3.5em;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, .6);
  color: #ffffff;
}

.register label:not(:nth-last-child(-n+3)) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register label input {
  width: 60%;
}

.register form {
  display: flex;
  flex-direction: column;
}

.bottomBtns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottomBtns a,
.bottomBtns button {
  background: rgba(0, 0, 0, 0);
  width: 9em;
  height: 3em;
  color: #ffffff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.bottomBtns a:hover {
  background: none;
}

.bottomBtns button {
  background-image: linear-gradient(134deg, #0C8FA6 0%, #5FDFF6 61%, #68E8FF 100%);
}

/* #endregion */

/* #region Add */
.add {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #21262C;
}

.add label:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
}

.add input[type='file'] {
  width: 70%;
}

.add label:not(:first-child) input {
  height: 3.5em;
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, .6);
  color: #ffffff;
}

.add form {
  display: flex;
  flex-direction: column;
}

/* #endregion */

/* #region Detail*/
.detail {
  height: calc(100vh - 3.5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #21262C;
}

.detail h1 {
  margin-bottom: 0;
}

.bio {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bio h2 {
  font-size: 1em;
}

.bio form {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detailButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.backBtn,
.delete {
  background: rgba(0, 0, 0, 0);
  width: 9em;
  height: 3em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 1em 0;
  cursor: pointer;
}

.like {
  background-image: linear-gradient(134deg, #0C8FA6 0%, #5FDFF6 61%, #68E8FF 100%);
  color: #fff;
  border-radius: 1.875em;
  padding: 0.625em 2.813em;
}

.liked {
  background: #04687C;
  color: #fff;
  border-radius: 1.875em;
  padding: 0.625em 2.813em;
}

.img-container {
  overflow: hidden;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid #ffffff;
  z-index: 1;
}

.img-container img {
  width: auto;
  height: 100%;
}

/* #endregion */

/* #region PersonalTag  */
.personalTag {
  height: calc(100vh - 3.5em);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #21262C;
}

.remove {
  height: 16px;
  width: 16px;
  margin-right: 16px;
}

.tagList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tagList a img {
  display: flex;
}

.droppedList {
  width: 90%;
  height: 30%;
  overflow: auto;
}

.droppedList h2 {
  margin: 0;
  font-size: 1em;
}

.droppedList ul {
  padding-left: 0;
}

.droppedList ul li {
  border: 1px solid #ffffff;
  border-radius: 50px;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.droppedList ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* #endregion */

/* #region credsRequired  */
.credsRequired {
  height: calc(100vh - 3.5em);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #21262C;
}

.credsRequired h1 {
  width: 80%;
  text-align: center;
}

/* #endregion */