<% include head.ejs %>
<title>Match Tag - Register</title>
<main class="register">
  <h1>Maak jouw Tag aan</h1>
  <form action=/droppedTags method=post enctype=multipart/form-data> 
    <label><input name=cover type=file accept=image/*>Voeg
      een profielfoto toe</label>
      <label>Voor- en achternaam <input name=name></label>
    <label>Leeftijd<input type="number" name=age></label>
    <label>Openingszin<textarea name=pickupline rows="1"></textarea></label>
    <label>Schrijf iets over jezelf<textarea name=description rows="5"></textarea></label>
    <button>Maak Tag aan</button>
  </form>
</main>
<% include tail.ejs %>