<% include head.ejs %>
<title>All Users</title>
<h1>All Users</h1>
<% for (var index = 0; index < data.length; index++) { %>
<h2><a href="/<%= data[index].id %>"><%= data[index].name %></a></h2>
<p><%= data[index].age %></p>
<p><%= data[index].gender %></p>
<% } %>
<p>
  <a href=/add>Add a user</a>
</p>
<% include tail.ejs %>
