<% include head.ejs %>
<title>Match Tag</title>
<header>
  <nav class="navBar">
    <ul>
      <li class=""><a href="login"></a></li>
      <li class=""><a href="searchLocation"></a></li>
      <li class=""><a href="personalTag"></a></li>
    </ul>
  </nav>
</header>
<main class="droppedTags">
    <h1><%= collTitle%></h1>
        <section class="droppedTagList">
                <h2>Gedropte gamertags:</h2>
                <ul>
                  <% for (var i = 0; i < data.length; i++) { %>
                  <li tabindex="0">
                    <a  href="/<%= collTitle%>/<%= data[i]._id %>"><p>
                        <%= data[i].name + ", " + data[i].age%></p></a>
                  </li>
                  <% } %>
                </ul>
              </section>


</main>
<% include tail.ejs %>