<% include head.ejs %>
<title>Match Tag</title>
<header>
  <nav class='navBar'>
    <ul>
      <li class=''><a href='login'></a></li>
      <li class=''><a href='searchLocation'></a></li>
      <li class=''><a href='personalTag'></a></li>
    </ul>
  </nav>
</header>
<main class='credsRequired'>
  <h1>Je moet ingelogd zijn om dit te kunnen bekijken.</h1>
</main>
<% include tail.ejs %>