<% include head.ejs %>
<title>Match Tag</title>
<main class="droppedTags">
  <h1>Walibi World</h1>
  <div class="img-container">
    <img src="/static/images/locations/walibiworld2.JPG" alt="Achtbaan in Walibi World">
  </div>

  <ul>
  <% for (var i = 0; i < data.length; i++) { %>
  <li><h2><a href="/<%= data[i]._id %>">
      <%= data[i].name + ", " + data[i].age%></a></h2></li>
  <% } %>
</ul>

<div class="dropTagButton-container">
    <a href=/add><button>Drop jouw tag</button></a> 
  </div>
</main>
<% include tail.ejs %>