<% include head.ejs %>
<title>Match Tag</title>
<header>
  <nav class="navBar">
    <ul>
      <li class=""><a href="login"></a></li>
      <li class=""><a href="searchLocation"></a></li>
      <li class=""><a href="personalTag"></a></li>
    </ul>
  </nav>
</header>
<main class="droppedTags">
  <h1>Walibi World</h1>
  <div class="img-container">
    <img src="static/images/locations/walibiworld2.JPG" alt="Achtbaan in Walibi World">
  </div>

  <section class="droppedTagList">
    <h2>Gedropte tags op deze locatie:</h2>
    <ul>
      <% for (var i = 0; i < data.length; i++) { %>
      <li tabindex="0">
        <a  href="/<%= data[i]._id %>"><p>
            <%= data[i].name + ", " + data[i].age%></p></a>
      </li>
      <% } %>
    </ul>
  </section>


  <% var found = false; %>
<% for (var i = 0; i < data.length; i++) { %>
 <%   if (user.name === data[i].name) { %>
     <%   found = true; %>
    <%    break; %>
  <%  } %>
<% } %>
<% if (found) { %>
      <a class="dropTagBtn" href="/<%= data[i]._id %>">Verwijder jouw tag</a>
 <% }else{ %>
      <a class="dropTagBtn" href="add">
  Drop jouw tag</a>
 <% } %>
</main>
<% include tail.ejs %>