<% include head.ejs %>
<title>Match Tag</title>
<img class="logo" src="/static/images/logo/logowhite.png" alt="Match Tag logo">
<a href="#"><h2>Inloggen</h2></a>
<a href="add"><h2>Registreren</h2></a>
<% include tail.ejs %>