<% include head.ejs %>
<title>Match Tag</title>
<main class="index">
    <img class="indexLogo" src="/static/images/logo/logowhite.png" alt="Match Tag logo">

    <section class="signInUpButtons">
        <a href="#">
            Inloggen
        </a>
        <a href="add">
            Registreren
        </a>
    </section>
</main>
<% include tail.ejs %>