<% include head.ejs %>
<title>Match Tag</title>
<main class='index'>
    <img class='indexLogo' src='/static/images/logo/logowhite.png' alt='Match Tag logo'>

    <a class='btn btn--primary' href='login'>Inloggen</a>
    <a class='btn btn--secundair' href='register'>Registreren</a>
    <a href='searchLocation'>Of ga verder zonder account</a>
</main>
<% include tail.ejs %>