<% include head.ejs %>
<title>Match Tag</title>
<main class="index">
    <img class="indexLogo" src="/static/images/logo/logowhite.png" alt="Match Tag logo">

    <a href="login"><button>Inloggen</button></a>
    <a href="register"><button>Registreren</button></a>
    <a href="searchLocation">Of ga verder zonder account</a>
</main>
<% include tail.ejs %>