<% include head.ejs %>
<title>Match Tag</title>
<header>
  <nav class="navBar">
    <ul>
      <li class=""><a href="login"></a></li>
      <li class=""><a href="searchLocation"></a></li>
      <li class="active"><a href="personalTag"></a></li>
    </ul>
  </nav>
</header>
<main class="personalTag">
  <h1>
    <%= user.name + ", " + user.age%>
  </h1>
  <% if (user.cover) { %>
  <div class="img-container">
    <img alt src="/upload/<%= user.cover %>">
  </div>
  <% } %>

  <section class="bio">
  <h2>
    <%= user.pickupline %>
  </h2>
  <p>
    <%= user.description %>
  </p>
</section>
</main>
<% include tail.ejs %>