<% include head.ejs %>
<title>Match Tag</title>
<header>
        <nav class="navBar">
                <ul>
                    <li class=""><a href="login"></a></li>
                    <li class="active"><a href="searchLocation"></a></li>
                    <li class=""><a href="personalTag"></a></li>
                </ul>
            </nav>
</header>
<main class="searchLocation">
    <form action="#">
        <input id="searchField" type="text" placeholder="&#xF002;  Zoek een locatie.." name="search">
    </form>


    <section class="midSection">
        <div class="radar-container">
            <div class="img-container">
                    <a href="droppedTags">
                <img src="/static/images/locations/walibiworld2.JPG" alt="Achtbaan in Walibi World">
                </a>
            </div>
            <p>0,5 km</p>
            <p>1,0 km</p>
            <p>1,5 km</p>
        </div>
    </section>

            <a class="dropTagBtn" href=/add>Drop jouw tag</a> 
</main>
<% include tail.ejs %>